@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:white;
}

body{
    overflow: hidden;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1c1c25;
}

section::before{
    content: '';
    position: absolute;
    bottom: -30%;
    left: 35%;
    width: 800px;
    height: 800px;
    background: linear-gradient(#f00,#F0F);
    border-radius: 50%;
}
.card{
    position: relative;
    width: 508px;
    height: 314px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.card .face{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius:15px;
    background: rgba(255,255,255, 0.05);
    backdrop-filter: blur(8px);
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}

.card:hover .face.front{
    transform: rotateY(180deg)
}

.card .face.back{
    transform: rotateY(180deg)
}

.card:hover .face.back{
    transform:rotateY(360deg)
}

.card .face.front::before{
    content:'';
    backdrop-filter: 0;
    position:absolute;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
}

.card .face.front::after{
    content:'';
    backdrop-filter: 0;
    position:absolute;
    bottom: 40px;
    right: 80px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.7;
}

.card .face.front .debit{
    position: absolute;
    left: 40px;
    top: 30px;
    font-weight: 500;
}

.card .face.front .bank{
    position: absolute;
    right: 40px;
    top:25px;
    font-style: italic;
    font-size:24px
}

.card .face.front .chip{
    position: absolute;
    top: 80px;
    left: 50px;
    max-width: 64px;
}

.card .face.front .number{
    position: absolute;
    bottom: 130px;
    left: 40px;
    font-weight: 500;
    letter-spacing: 6px;
    font-size:18px;
    text-shadow: 0 2px 1px #0005;
    font-family: 'Orbitron', sans-serif;
}

.card .face.front  .valid{
    position: absolute;
    bottom: 90px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    line-height: 1em;
    text-align: right;
}

.card .face.front  .valid span:last-child{
    margin-left:20px;
    font-size:16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.card .face.front  .cardHolder{
    position: absolute;
    bottom:40px;
    left:40px;
    font-weight: 300;
    font-size:16px;
    letter-spacing: 2px;
}

.card .face.back .blackbar{
    position: absolute;
    top:40px;
    width: 100%;
    height: 60px;
    background: #000;
}

.card .face.back .ccvtext{
    position: absolute;
    top: 120px;
    left:30px;
}

.card .face.back .ccvtext h5{
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card .face.back .ccvtext .whitebar{
    position: relative;
    width: 400px;
    height: 40px;
    background: #fff;
}

.card .face.back .ccvtext .ccv{
    position: relative;
    background: #ccc;
    color:#111;
    width: 50px;
    height: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-35px;
    left:390px;

}

.card .face.back .text{
    position: absolute;
    bottom: 70px;
    left: 30px;
    right: 30px;
    font-size: 10px;
    line-height: 1.4em;
    text-align: justify;
}